---
# yamllint disable rule:line-length
name: update-aqua-checksum

on:
  pull_request:
    paths:
    - 'tools/aqua.yaml'
    - 'tools/aqua-checksums.json'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  update-aqua-checksums:
    uses: ppat/github-workflows/.github/workflows/update-aqua-checksums.yaml@0bf8cd1eeb8e6e9f67fab279bc3be57e0be29c50 # v3.2.0
    with:
      git_ref: ${{ github.head_ref || github.ref_name }}
      aqua_dirs: |
        tools
      prune: true
    secrets:
      app_id: ${{ secrets.HOMELAB_BOT_APP_ID }}
      app_private_key: ${{ secrets.HOMELAB_BOT_APP_PRIVATE_KEY }}
